/* LoginForm.css */
.login-form-container {

    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
   
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .login-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  